/* Fade Transition */
.fade-enter-active,
.fade-leave-active {
  transition: all 500ms ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.route-fade-leave-active {
  transition: all 200ms ease;
}
.route-fade-enter-active {
  transition: all 300ms ease;
  transition-delay: 100ms;
}
.route-fade-enter-from,
.route-fade-leave-to {
  opacity: 0;
}

/* Toggle for dropdowns */
.toggle-enter-active,
.toggle-leave-active {
  transition: all 500ms ease;
}
.toggle-enter-from,
.toggle-leave-to {
  opacity: 0;
  transform: translateY(-1.5rem);
}

/* Group transition for grids or multiple rows */
.group-enter-active{
  transition: all 1s ease;
}
.group-move{
  transition: all 0.7s ease;
}
.group-leave-active {
  transition: transform  1s, opacity .3s;
}
.group-enter-from, .group-leave-to{
  opacity: 0;
  transform: translateY(5px);
}
.group-leave-active {
  position: absolute;
}
