@import url(./css/vue-transitions.css);
@import url(./css/animations.css);
@import url(./css/scrollbar.css);
@import url(./css/tailwind.css);
@import url(./css/mask-image.css);
@import url(./css/custom-classes.css);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}